* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: justify;
    text-decoration: underline;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.container {
    max-width: 40rem;
    margin: 1rem auto;
    padding: 1.5rem;
    background-color: bisque;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.band-list {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-left: 1.1rem;
}   